.contenido {
    max-width: 800px;
    margin: 0 auto;
}
.itsoeh{
    a{
        block-size: 80px;
        writing-mode: horizontal-tb;
        width: 10px;
    }

}
.encuesta{
    display: block;
    width: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: rgba(6, 158, 155, 0.721);
    border-radius: 10px;
    padding: 15px 30px;
    margin: 15px 13px;
    position: absolute;
    left: 45%;
    text-decoration: none;
    
}
.maps{
    
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    width: 50%; 
    position: absolute;
    left: 35%;
    
}
.centrar{
    width: 180px;
    position: absolute;
    left: 86%;
}